body{
    font-family: sans-serif;
    padding:30px;
    text-align: center;
    background-color:black;
    margin: 0 auto;
    color: aqua;
    line-height: 1.6;
}

input{
    padding: 10px;
    width: 200px;
    border: 1px solid aqua;
    border-radius: 5px;
    font-size: 16px;
    color: aqua;
    background-color: black;
}
input::placeholder {
    color: aqua;
}
input:focus{
    outline: none;
    border-color: aqua;
    box-shadow: 0 0 5px aqua;
}
#add-btn{
    padding:10px 20px;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    cursor: pointer;
    font-weight:600;
    font-size:16px;
    border-radius:5px;
    border:1px solid aqua;
    background-color:aqua;
    color:black;
    transition: all 0.3s ease;
}
#add-btn:hover{
    font-weight:600;
    font-size:16px;
    transform: scale(1.1);
    box-shadow: 0 0 5px aqua
}
#add-btn:active{
    font-weight:600;
    font-size:16px;
    transform: scale(0.9);
}
h1{
    font-size: 2rem;
    color: aqua;
}
#todo-list{
    margin: 0 auto;
    text-align: left;
    max-width: 400px;
    padding:10px;
    color:aqua;
}
#todo-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    border: 1px solid aqua;
    border-radius: 5px;
    margin-bottom: 10px;        
}
#todo-list li:hover{
    background-color:#333;
    color:aqua;
    box-shadow: 0 0 5px aqua;
}
#todo-list li button{
    background-color:aqua;
    border: none;
    border-radius:3px;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
#todo-list li button:hover{
    transform: scale(1.1);
}
#todo-list li button:active{
    transform: scale(0.9);
    box-shadow: 3px 3px 5px aqua;
}
footer{
    margin-top:20px;
    font-size:14px;
    color:aqua;
}
footer p{
    position:sticky;
    top:0;
    padding: 10px;
    background-color: black;
    color: aqua;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
footer p:hover{
    transform: scale(1.1);
    text-shadow: 0 0 1px aqua;
}
footer p:active{
    transform: scale(0.9);
    text-shadow: 3px 3px 5px aqua;
} 